.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 220px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 25px;
  background-color: #f5f5dc;
}

.inputName {
  display: block;
  width: 280px;
  height: 28px;
  margin-left: 10px;
  margin: 0 auto;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 10px;
}

.inputName:focus {
  border-color: blue;
}

.btn {
  width: 125px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  font-size: large;
  background-color: #fafbfc;
  border-width: 2px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.41);
  margin-bottom: 10px;
  margin-top: 10px;
}

.labelName {
  padding-left: 34px;
  margin-top: 10px;
  font-size: 18px;
}

.labelNumber {
  composes: labelName;
}

.error {
  color: red;
  padding-left: 34px;
  font-weight: bold;
}
